<footer class="footer">
	<small>
		<%= link_to "Gags On Rails", root_path %>
		by
		<%= mail_to "b.ttalic@gmail.com", "Benjamin Talic" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", about_path %></li>
		</ul>
	</nav>
</footer>